@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>

    <script src="~/Scripts/Documentos/Index/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('archivosApp')
                .factory('archivosResource', archivosResource);

            archivosResource.$inject = ['$resource'];

            function archivosResource($resource) {
                var documentos = $resource("@Href("~/api/Documentos")");
                var documentosUrl = "@Href("~/api/Documentos")";

                return {
                    "documentos": documentos,
                    "documentosUrl": documentosUrl
                }
            }
        })();
    </script>
    @*Controladores js*@
    <script src="~/Scripts/Documentos/Index/Controllers/menuCtrl.js"></script>
    <script src="~/Scripts/Documentos/Index/Controllers/fileUploadCtrl.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('archivosApp')
                .controller('listadoArchivosCtrl', listadoArchivosCtrl);

            listadoArchivosCtrl.$inject = ['$rootScope', 'archivosResource'];

            function listadoArchivosCtrl($rootScope, archivosResource) {
                var vm = this;
                vm.documentos = archivosResource.documentos.query();
            }
        })();
    </script>

}
<div class="container" ng-controller="menuCtrl as vm" ng-cloak>
    <ul class="nav nav-tabs" style="margin-top:25px;">
        <li role="presentation" class="{{vm.menu.formulario.class}}">
            <a href="#" ng-click="vm.formularioFn()">Cargar archivos</a>
        </li>
        <li role="presentation" class="{{vm.menu.listado.class}}">
            <a href="#" ng-click="vm.listadoFn()">Listado archivos</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.formulario.mostrar">
        @Html.Partial("Index/_FormCargaArchivos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.listado.mostrar">
        @Html.Partial("Index/_ListadoArchivos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Por favor elija uno de las opciones a cargar dentro de los padrones
        </div>
    </div>
</div>

