<div class="row" ng-controller="listadoArchivosCtrl as vm">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Descripcion</th>
                    <th>Vista (si es una imagen)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in vm.archivosMovimientos">
                    <td>
                        <a href="@Href("~")images/docs/{{doc.nombreArchivo}}" target="_blank">
                            {{doc.nombreArchivo}}
                        </a>
                    </td>
                    <td width="30%">
                        {{doc.descripcion}}
                    </td>
                    <td>
                        <div ng-show="doc.extension == 'JPG' || doc.extension == 'jpg' || doc.extension == 'gif' || doc.extension == 'png'">
                            <a href="@Href("~")images/docs/{{doc.nombreArchivo}}" target="_blank">
                                <img ng-src="@Href("~")images/docs/{{doc.nombreArchivo}}" alt="{{doc.nombreArchivo}}" class="img-thumbnail img-responsive" />
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pre>
        {{vm.archivosMovimientos | json}}
</pre>
    </div>
</div>
