<div class="row" ng-controller="listadoArchivosCtrl as vm">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Vista (si es una imagen)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in vm.documentos">
                    <td>
                        <a href="@Href("~")images/docs/{{doc.nombre}}">
                            {{doc.nombre}}
                        </a>
                    </td>
                    <td>
                        <div ng-show="doc.extension == 'jpg' || doc.extension == 'gif' || doc.extension == 'png'">
                            <img src="@Href("~")images/docs/{{doc.nombre}}" alt="{{doc.nombre}}" class="img-thumbnail" style="width:200px;height:200px;" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pre>
        {{vm.documentos | json}}
</pre>
    </div>
</div>
